<!DOCTYPE html>
<html lang="pl">
<head>
    <style>
        td {padding: 0 10px;}
    </style>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div id="content">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>